


html,body
{
    height: 100%;
    width: 100%;
    position: relative;
    background-color: #fff;
}
.wrapper{
            position: relative;
            max-width: 100%;
            box-sizing: border-box;
            min-height: 100%;
        background-image: url(../image/main_bg.jpg);
        background-position: top;
        background-repeat: no-repeat;
}
.in
{
    max-width: 1084px;
    margin-left: auto;
    margin-right: auto;
}
 .About-text:after
{
        content: '';
        display: block;
        clear: both;
}
.video:after
{
        content: '';
        display: block;
        clear: both;
}
#footer:before
{
        content: '';
        display: block;
        border-top: 1px solid rgba(0, 0, 0, 0.2);
        max-width: 1198px;
        margin-left: auto;
        margin-right: auto;
        
}
.heading{ 
        text-align: center;
        margin-bottom: 100px;
        position: relative;
  h2
        {
                color: #595959;
                font-weight:900; 
                font-size: 40px;
                text-transform: uppercase;
                font-family: "Raleway" , sans-serif;
                line-height: normal;
                text-align: center;
                margin-bottom: 4px;
                
        }
}
.heading:after
{
                content: '';
                display: block;
                width: 116px;
                height: 7px;
                background-color: #31c4dd;
                position: absolute;
                margin-left: 484px;
                margin-top: 10px;
                top: 50px;

        
}
header
{
        background-image: url(../image/header_bg.jpg);
        padding-bottom: 123px;
        background-repeat: no-repeat;
        background-position: top;
        background-size: cover;
                padding-top: 143px;
                .main_photo    {
                background-image: url(../image/BruniMars_photo.jpg);
                border-radius: 50%;
                height: 334px;
                width: 332px;
                margin-left: 366px;
                 box-shadow: 0px 0px 6px 11px rgba(255,255,255,.100);
                        }      
                        .Brunoname
                        {
                               
                                text-align: center;
                                margin-top: 48px;
                                
                        }
                                p 
                        {
                                 margin-top: 28px;
                                text-align: center;
                                font-family: "Raleway" , sans-serif;
                                font-weight: 400;
                                font-size: 24px;
                                color: #1f98ad;
                        }
                                .buttons
        {        
                text-align: center;
        }
                        .button:nth-child(1)
                                {
                                       border: 2px solid #fff;
                                        border-radius: 10px 10px 10px 10px;
                                        text-align: center;
                                        color: #fff;
                                        background-color: rgba(255, 255, 255, 0.1);
                                        padding-top: 16px;
                                        padding-bottom: 13px;
                                        display: inline-block;
                                        margin-right: 9px;
                                        font-weight: 400;
                                        
                                        a 
                                        {
                                                color: #fff;
                                                font-weight: 400;
                                                padding-left: 34px;
                                                padding-right: 34px;
                                                padding-bottom: 9px;
                                                padding-top: 12px;
                                        }
                                }
                        .button:nth-child(2)
                                {
                                     border: 2px solid #fff;
                                       
                                        border-radius: 10px 10px 10px 10px;
                                        text-align: center;
                                        color: #fff;
                                        background-color: rgba(255, 255, 255, 0.1);
                                        padding-top: 16px;
                                        padding-bottom: 13px;
                                        display: inline-block;
                                       margin-right: -7px;
                                        margin-left: 19px;
                                        font-weight: 400;                                        
                                                 a 
                                        {
                                          color: #fff;
                                                font-weight: 400;
                                                padding-left: 26px;
                                                padding-right: 30px;
                                                padding-bottom: 9px;
                                                padding-top: 12px;
                                        }
                                }
                                
}  
.About_me
{
      /*height: 613px;*/ 
height: 494px;
padding-top: 67px;
background-color: #f3f3f3;
padding-bottom: 123px;
                .About-text{
                       
                        margin-left: 10px;
                        width: 508px;
                        margin-right: 91px;
                        
                        h3
                        {
                               font-family: "Raleway" , sans-serif;
                                font-size: 26px;
                                text-transform: uppercase;
                                font-weight: 700;
                                color: #595959;
                                margin-bottom: 13px;
                        }
                        h4
                        {
                                font-family: "Raleway" , sans-serif;
                                font-size: 26px;
                                font-weight: 500;
                                color: #595959;
                                text-transform: uppercase;
                                margin-bottom: 14px;
                        }
                        p {
                                font-size: 16px;
                                color: #b9b9b9;
                                line-height: normal;
                                text-transform: uppercase;
                                line-height: 1.9;
                                text-align: left;
                                font-weight: 400;
                                font-family: "Raleway" , sans-serif;
                                
                        }
                } 
                .video
                        {
                                float: right;
                                margin-top: 5px;
                                margin-right: 10px;
                                iframe 
                                {
                                        width: 462px;
                                        height: 344px;
                                }
                        }
        
}
.MyServices
{
        padding-top: 68px;
        /*height: 800px;*/
        background-image: url(../image/myservice_bg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        .heading
        {
                margin-bottom: 76px;
        h2
        {
                color: #fff;
        }
        }
          .l_bocks{
                    margin-left: 8px;
                          

        .smallblock
        {
                width: 300px;
                text-align: center;
                vertical-align: top;
                display: inline-block;
                margin-right: 83px;
    margin-bottom: 105px;


                img{
                        vertical-align: top;
                }
                .title
                {
                      color: #c3c4c5;
                        font-weight: bold;
                        text-transform: uppercase;
                        font-size: 22px;
                        text-align: center;
                        margin-top: 18px;
                      
                }
                p 
                {
                        font-size: 17px;
                        color: #c3c4c5;
                        text-transform: uppercase;
                        text-align: center;
                        line-height: 1.4;
                        color: #a4a6a7;
                        font-family: "Raleway" , sans-serif;
                }
        }
        }
.smallblock:nth-child(3n)
        {
                margin-right: 0;
        }
}
.Portfolio
{
/*height: 526px;*/
padding-top: 69px;
background-color: #f3f3f3;
        padding-bottom: 69px;
        .heading
        {
                margin-bottom: 59px;
        }
        .image_block
        {
                display: inline-block;
               margin-left: 12px;
                margin-right: -16px;
                margin-top: -2px;
               width: 265px;
                height: 199px;
                p 
                {
                    font-size: 24px;
                        
                        font-weight: 300;
                        padding-top: 119px;
                        padding-bottom: 32px;

                        color: transparent;
                        text-align: center;

                        font-family: "Raleway" , sans-serif;
                        span {
                                font-weight: 600;

                                font-size: 17px;
                        }
                }
        }
}
.image_block p:hover
{
        background: rgba(0,0,0,.8) url(../image/plus.png);
        background-repeat: no-repeat;
        background-position:50% 34%;
        color: #cfcfcf;
        cursor: pointer;
        
}
.Blog
{
        padding-bottom: 76px;
        padding-top: 29px;
        background-color: #f3f3f3;
        .l_bocks{
                margin-left: 12px;
               
        
        .longer_bocks
        {
                background-color: #fff;
                width: 281px;
                display: inline-block;
                padding: 14px;
                margin-right: 61px;
                margin-left: 1px;
                margin-bottom: 60px;
                box-shadow: 0 0 16px -8px;
                vertical-align: top;
                iframe 
                {
                        width: 282px;
                        height: 178px;
                }
                
                }
                .long-text{
                           text-align: left;
                                padding-left: 26px;
                                padding-right: 20px;
                                margin-top: 21px;
               
                h5
                {
                        font-weight: 800;
                        text-transform: uppercase;
                        font-family: "Raleway" , sans-serif;
                        color: #595959;
                        font-size: 18px;
                        line-height: normal;
                }
                .BrunoMars
                {
                        font-size: 14px;
                        text-transform: uppercase;
                        font-weight: 600;
                        font-family: "Raleway" , sans-serif;
                        line-height: normal;
                        color: #7c7c7c;
                        border-right: 1.5px solid #7c7c7c;
                        padding-right: 8px;
                }
                .comments
                {
                text-transform: uppercase;
                font-weight: 600;
                font-family: "Raleway" , sans-serif;
                font-size: 14px;
                color: #7c7c7c;
                line-height: normal;
                margin-left: 5px;
                }
                        
                p{
                       text-transform: uppercase;
                        font-weight: 500;
                        font-family: "Raleway" , sans-serif;
                        margin-top: 12px;
                        color: #7c7c7c;
                        line-height: 1.4;
                }
                        
                .button_long
                        {
                        margin-top: 15px;
                        margin-bottom: 11px;
                        margin-left: 111px;
                                a 
                                {
                                        background-color: #64c9db;
                                        display: block;
                                        width: 98px;
                                        text-align: center;
                                        text-transform: uppercase;
                                        color: #fff;
                                        font-weight: 600;
                                        font-family: "Raleway" , sans-serif;
                                        padding-top: 10px;
                                        padding-bottom: 13px;
                                        padding-left: 10px;
                                        padding-right: 10px;
                                        font-size: 19px;
                                }
                        }
                 }
                
                }
                .blog_title
                {
                font-size: 26px;
                text-align: center;
                text-transform: capitalize;
                margin-top: 17px;
                font-family: "Raleway" , sans-serif;   
                color: #515151;
                        span 
                        {
                                   text-transform: uppercase;
                                    color: #64c9db;
                                    font-size: 24px;
                                    font-family: "Raleway" , sans-serif;
                                    font-weight: bold;
                                    margin-right: 0px;
                        }
                        }
        .longer_bocks:nth-child(3n)
{
        margin-right: 0;
}
                
}

.Status
{
        background-image: url(../image/status.jpg);
        background-size: cover;
        height:540px;
        padding-top: 159px;
        .elips
        {
                text-align: center;
                margin-left: 0x;
                margin-top: 85px;
                span 
                {
                        color: #fff;
                        display: block;
                        font-family: "Raleway" , sans-serif;
                        font-size: 30px;
                        margin-bottom: 8px;

                        margin-top: -12px;
                        
                }
                p
                {
                        color: #fff;
                        font-size: 30px;
                        font-family: "Raleway" , sans-serif;
                        text-transform: uppercase;
                }
              
        }
        }
  .pp
                {
                        margin-top: -406px;

                        margin-bottom: 306px;
                }
                .ss{
                        display: inline-block;
                        margin-left: 113px;
                }
                .cc{
                        display: inline-block;
                        display: inline-block;

                        margin-right: 100px;

                        margin-left: 62px;
                }
        

#superfooter{
        height: 86px;
    padding-top: 70px;
        background-color: #f3f3f3;

        .Status_title
{
        text-align: center;
        font-family: "Raleway" , sans-serif;
        font-size: 24px;
        margin-left: -185px;
        text-transform: capitalize;
        color: #595959;
        }
        a 
        {
                display: inline-block;
                float: right;
                margin-top: -45px;
                margin-right: 236px;
                font-size: 25px;
                font-family: "Raleway";
                padding-top: 19px;
                padding-bottom: 13px;
                width: 166px;
                border-radius: 10px 10px 10px 10px;
                background-color: #5dbed2;
                color: #fff;
                text-align: center;
        }
        }
#footer
{
                height: 70px;
                padding-top: 2px;
                background-color: #f3f3f3;
        p {
                padding-top: 20px;
               
                font-size: 16px;
                color: #8e8e8e;
                font-family: "Raleway";
                display: inline-block;
        }
        
        .soc
        {
                display: inline-block;
                float: right;
                padding-top: 15px;
                
                
        }
}

@media screen and(max-width: 1000px)
{
         .MyServices 
        {
                
       
        .l_bocks
        {
                
                margin-left: 0px;
                
        }
                 }
}

